// 
// footer.scss
//

.footer {
    bottom: 0;
    left: 0;
    padding: 19px 15px 20px;
    position: absolute;
    right: 0;
    color: $text-muted;
    border-top: 1px solid var(--#{$prefix}border-color);

    .footer-links {
        a {
            color: $text-muted;
            margin-left: 1.5rem;
            transition: all .4s;

            &:hover {
                color: var(--#{$prefix}heading-color);
            }

            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}

.footer-alt {
    left: 0 !important;
    text-align: center;
    background-color: transparent;
}

@include media-breakpoint-down(sm) {
    .footer {
        left: 0 !important;
        text-align: center;
    }
}