//
// reboot.scss
//


body {
    background: var(--#{$prefix}main-body-bg);
}


// Forms
label {
    font-weight: $font-weight-bold;
}


button:focus {
    outline: none;
}


.row>* {
    position: relative;
}


html {
    scroll-behavior: smooth;
}